.header {
  height: 5rem;
  background-color: var(--login-header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  padding: 0.75rem 0 0.75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 100%;
}

.title {
  font-size: 2rem;
  color: var(--login-text-color);
  margin-left: 1.25rem;
  line-height: 2rem;
}

.navLinkMenu {
  height: 100%;
  display: flex;
}

.navLinkItem {
  font-size: 1.5rem;
  color: var(--login-text-color);
  text-decoration: none;
}

.navLinkItem {
  padding: 1.5rem 1.5rem 0 1.5rem;
  height: 100%;
  cursor: pointer;
  transition: 0.5s all;
  border-bottom: 6px solid var(--login-header-color);
}

.navLinkItem:hover {
  background-color: var(--login-header-action-color);
  border-bottom: 6px solid var(--login-header-active-color);
}

.navLinkItem.active {
  border-bottom: 6px solid var(--login-header-action-color);
  border-color: var(--login-header-active-color);
}
