.item {
    background-color: transparent;
    color: var(--theme-button-text-color);
    padding: 10px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 50%;
    border: none;
}

.item:hover {
    background-color: var(--theme-button-hover-color);
}

.img {
    height: 1.2rem;
}

.item:first-of-type {
    border-radius: 20px 0 0 20px;
}
.item:last-of-type {
    border-radius: 0 20px 20px 0;
}

.item.active {
    color: var(--theme-button-active-text-color);
    background-color: var(--theme-button-active-color);
}