.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item input {
  background-color: var(--craft-input-readonly-color);
  color: var(--craft-input-text-color);
}

.item:first-of-type {
  margin-top: 0;
}

.craftInput {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--craft-input-border-color);
}
.craftInput[type='date'] {
  padding: 8px 10px;
}

.craftInput:focus {
  outline: none;
  border: 1px solid var(--craft-input-border-focus-color);
}

select {
  border-radius: 10px;
  border: 1px solid var(--craft-input-border-color);
  padding: 10px;
  width: 45%;
  background-color: var(--craft-input-readonly-color);
  color: var(--craft-input-text-color);
}

select:focus {
  outline: none;
  border: 1px solid var(--craft-input-border-focus-color);
}

.formwrapper {
  display: block;
  padding: 10px 0;
}

.error {
  border-color: var(--validator-color);
}

.error:focus {
  border-color: var(--validator-color);
}

.checkbox {
  padding: 10px;
  border-radius: 10px;
  width: 45%;
  border: 1px solid var(--craft-input-border-color);
}

.checkbox:focus {
  border: 1px solid var(--craft-input-border-focus-color);
}

input[type='checkbox'] {
  width: auto;
}

.checkboxElem {
  display: flex;
  align-items: baseline;
}

.checkbox label {
  margin-left: 10px;
}

.craftInput:read-only,
.checkbox.readOnly,
.textArea:read-only {
  background-color: var(--craft-input-readonly-color);
}

.textArea {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--craft-input-border-color);
  resize: none;
}

.textArea:focus {
  outline: none;
  border: 1px solid var(--craft-input-border-focus-color);
}
