.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item:first-of-type {
  margin-top: 0;
}

input {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--darkgray-color);
}
input[type='date'] {
  padding: 8px 10px;
}

input:focus {
  outline: none;
  border: 1px solid var(--lightblue-color);
}

select {
  border-radius: 10px;
  border: 1px solid var(--darkgray-color);
  padding: 10px;
  width: 51%;
}

select:focus {
  outline: none;
  border: 1px solid var(--lightblue-color);
}

.formwrapper {
  display: block;
  padding: 10px 0;
}

.error {
  border-color: var(--validator-color);
}

.error:focus {
  border-color: var(--validator-color);
}

.checkbox {
  padding: 10px;
  border-radius: 10px;
  width: 45%;
  border: 1px solid gray;
}

input[type='checkbox'] {
  width: auto;
}

.checkboxElem {
  display: flex;
  align-items: baseline;
}

.checkbox label {
  margin-left: 10px;
}

input:read-only,
.checkbox.readOnly,
.textArea:read-only {
  background-color: var(--lightgray-color);
}

.textArea {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--darkgray-color);
  resize: none;
}

.textArea:focus {
  outline: none;
  border: 1px solid var(--lightblue-color);
}