.item {
  background-color: var(--white-color);
  border-top: 1px solid var(--lightgray-color);
  border-right: 1px solid var(--lightgray-color);
  border-left: 1px solid var(--lightgray-color);
  display: grid;
  grid-template-columns:
    minmax(auto, 50px) minmax(auto, 200px) minmax(auto, 100px) minmax(auto, 170px) minmax(auto, 130px)
    minmax(auto, 70px) minmax(auto, 250px);
  align-items: center;
}

.item:last-of-type {
  border-bottom: 1px solid var(--lightgray-color);
}

.item .buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.item div {
  padding: 30px 20px;
}

.navLink {
  display: inherit;
  color: var(--white-color);
  text-decoration: none;
}
