.header {
  position: relative;
  background-color: var(--main-header-color);
  height: 100%;
  border-bottom: 2px solid var(--main-header-bottom-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: var(--smoothDecease40to24px);
  line-height: 1em;
  font-weight: normal;
}

@media (max-width: 992px) {
  .header {
    width: 100%;
    height: 80px;
    position: fixed;
  }
}

@media (max-width: 576px) {
  .title {
    text-align: center;
    padding-right: 3em;
    line-height: 1.25em;
  }
}