.modal {
  position: absolute;
  width: var(--smoothIncrease90perc576px);
  background-color: var(--modal-background-color);
  padding: var(--smoothDecease30to10px);
  border: 1px solid var(--modal-border-shadow-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px 0 var(--modal-border-shadow-color);
}

.title {
  margin: 0;
  padding-bottom: var(--smoothDecease30to10px);
  font-size: 1.5rem;
  line-height: 1em;
  text-align: center;
  border-bottom: 1px solid var(--modal-border-shadow-color);
}

.wrapper {
  margin-top: var(--smoothDecease20to10px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: var(--smoothDecease30to10px);
}

.buttons button {
  width: 25%;
}

.requiredWarning {
  font-size: 10px;
  line-height: 10px;
}

@media (max-width: 768px) {
  .buttons button {
    width: 40%;
  }
}