.features__item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__item:first-of-type {
  margin-top: 0;
}

.features__image {
  width: 20rem;
}

.features__image img {
  width: 100%;
}

.features__text {
  margin-left: var(--smoothDecease100to20px);
  width: 20rem;
}

.features__item_reversed .features__text {
  margin-left: 0;
  margin-right: var(--smoothDecease100to20px);
}

.features__title {
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--about-secondary-color);
}

.features__descr {
  margin-top: 1rem;
  line-height: 1.25rem;
}

@media (max-width: 576px) {
  .features__image,
  .features__text,
  .features__item {
    width: 100%;
  }
  .features__item,
  .features__text,
  .features__item_reversed .features__text{
    margin: 0;
  }
  .features__item {
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column-reverse;
  }
  .features__item_reversed {
    flex-direction: column;
  }
  .features__image {
    margin-top: 20px;
  }
}