.modal {
  position: absolute;
  width: var(--smoothIncrease90perc);
  background-color: var(--modal-background-color);
  padding: var(--smoothDecease30to10px);
  border: 1px solid var(--modal-border-shadow-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px 0 var(--modal-border-shadow-color);
}

.title {
  margin: 0;
  padding-bottom: var(--smoothDecease30to10px);
  font-size: 1.5rem;
  line-height: 1em;
  text-align: center;
  border-bottom: 1px solid var(--modal-border-shadow-color);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: var(--smoothDecease30to10px);
}
.buttons button {
  width: 25%;
}

.wrapper {
  margin-top: var(--smoothDecease20to10px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 48%;
}

.requiredWarning {
  font-size: 10px;
  line-height: 1em;
}

@media (max-width: 768px) {
  .modal {
    top: 0;
  }
  .column {
    width: 100%;
  }
  .buttons button {
    width: 40%;
  }
}