.wrapper {
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 80px);
}

.cls1 {
  fill: var(--pageNotFound-numbers-color);
}

.cls2,
.cls3,
.cls4,
.cls5 {
  fill: none;
  stroke: var(--pageNotFound-univers-color);
  stroke-miterlimit: 10;
}

.cls2,
.cls3,
.cls4,
.cls5,
.cls6 {
  stroke-linecap: round;
}

.cls2,
.cls5 {
  stroke-width: 4px;
}

.cls3,
.cls4 {
  stroke-width: 3px;
}

.cls4 {
  stroke-dasharray: 0.09 8.71;
}

.cls5 {
  stroke-dasharray: 0.09 8.92;
}

.cls6 {
  fill: var(--pageNotFound-dot-color);
  stroke: var(--pageNotFound-numbers-color);
  stroke-linejoin: round;
  stroke-width: 6px;
}

.cls7 {
  fill: var(--pageNotFound-stars-color);
}

.img {
  width: 500px;
}

.messageBox {
  margin-left: 2rem;
  width: 400px;
  color: var(--pageNotFound-text);
}


.messageBox p {
  font-style: italic;
}

.actionLinkWrap {
  margin-top: var(--smoothDecease32to20px);
}

.messageBox h1 {
  margin: var(--smoothDecease32to20px) 0 var(--smoothDecease32to20px) 0;
}

.actionLinkWrap a {
  display: inline-block;
  color: var(--pageNotFound-button-text);
  background: var(--pageNotFound-button);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.actionLinkWrap a:hover {
  background: var(--pageNotFound-button-hover);
}

@media (max-width: 992px) {
  .img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 0 10px;
  }
  .messageBox h1 {
    text-align: center;
  }
  .actionLinkWrap {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .img {
    width: 100%;
  }
  .messageBox {
    width: 100%;
    margin-left: 0;
  }
}