.content {
  display: grid;
  height: min-content;
  grid-template-rows: auto;
}

.subheader {
  color: var(--screen-header-text-color);
  display: grid;
  grid-template-columns: minmax(auto, 50px) minmax(auto, 200px) minmax(auto, 200px) minmax(auto, 250px) minmax(
      auto,
      150px
    );
  align-items: center;
}

.subheader div {
  padding: 20px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header button {
  width: 100px;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.title span {
  color: var(--screen-header-text-color);
}

.navLink {
  display: inherit;
  color: var(--navlink-common-text-color);
  text-decoration: none;
}
