.container {
  padding: 0 10px;
}

.content {
  display: grid;
  height: min-content;
  grid-template-rows: auto;
}

.subheader {
  color: var(--screen-header-text-color);
  display: grid;
  grid-template-columns: 50px 200px 200px 300px 110px;
  align-items: center;
}

.subheader div {
  padding: 20px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header button {
  width: 100px;
}

.title {
  margin: 0;
  font-size: var(--smoothDecease24to20px);
  line-height: 1em;
}

.title span {
  color: var(--screen-header-text-color);
}

.navLink {
  display: inherit;
  color: var(--navlink-common-text-color);
  text-decoration: none;
}

@media (max-width: 1200px) {
  .subheader {
    grid-template-columns: 40px 150px 150px 200px 110px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .subheader {
    display: none;
  }
  .content {
    margin-top: 20px;
    row-gap: 10px;
  }
}