.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  padding: 30px;
  border: 1px solid var(--lightgray-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px 0 var(--lightgray-color);
}

h3 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  border-bottom: 1px solid var(--lightgray-color);
}

.wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.buttons button {
  width: 25%;
}

.requiredwarning {
  font-size: 10px;
  line-height: 10px;
}
