.modal {
  position: absolute;
  width: calc(90% - 576 * ((100vw - 320px) / 880));
  background-color: var(--modal-background-color);
  padding: calc(10px + 20 * ((100vw - 320px) / 880));
  border: 1px solid var(--modal-border-shadow-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px 0 var(--modal-border-shadow-color);
}

.title {
  margin: 0;
  padding-bottom: calc(20px + 10 * ((100vw - 320px) / 880));
  font-size: 1.5rem;
  line-height: 1em;
  text-align: center;
  border-bottom: 1px solid var(--modal-border-shadow-color);
}

.wrapper {
  margin-top: calc(10px + 10 * ((100vw - 320px) / 880));
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: calc(20px + 10 * ((100vw - 320px) / 880));
}

.buttons button {
  width: 25%;
}

@media (max-width: 768px) {
  .modal {
    top: 0;
  }
  .buttons button {
    width: 40%;
  }
}