.menu {
  margin: 0;
  padding: 0;
  background-color: var(--menu-color);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px auto;
  border-right: 2px solid var(--menu-border-color);
}
.header {
  padding: 15px 30px;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--menu-header-border-color);
}

.header img {
  height: 100%;
}

.title {
  margin-left: 25px;
  width: 100%;
  font-size: 25px;
  color: var(--menu-text-color);
}

.logout {
  display: flex;
  text-decoration: none;
  color: var(--menu-text-color);
  padding: 25px 50px;
  justify-content: flex-start;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
  border-left: 6px solid var(--menu-item-border-color);
  transition: background-color 0.3s;
  cursor: pointer;
}

.logout:hover {
  background-color: var(--menu-item-action-color);
  border-color: var(--menu-item-active-color);
}
.logout.active {
  border-color: var(--menu-item-active-color);
}

.logoutImage {
  height: 18px;
}

.logoutTitle {
  margin-left: 10px;
}
