.menu {
  margin: 0;
  padding: 0;
  background-color: var(--darkblue-color);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px auto;
}
.header {
  padding: 15px 30px;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--black-color);
}

.header img {
  height: 100%;
}

.title {
  margin-left: 25px;
  width: 100%;
  font-size: 25px;
  color: var(--white-color);
}

.item {
  display: flex;
  text-decoration: none;
  color: var(--white-color);
  padding: 25px 50px;
  justify-content: flex-start;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
  border-left: 6px solid var(--darkblue-color);
  transition: background-color 0.3s all;
  cursor: pointer;
}

.item:hover {
  background-color: var(--menu-action-color);
  border-color: var(--lightblue-color);
}
.item.active {
  border-color: var(--lightblue-color);
}

.image {
  height: 18px;
}

.itemTitle {
  margin-left: 10px;
}